
    <h2>{{myJobs.jobA.date}}</h2>


    HELP ME DOT COM, KATHMANDU, NEPAL / 2011 – 2015
    <ul>
    <li> Small scale online shopping and I was responsible to keep
    track of items in the store.</li>
    <li> Responsible of purchasing and updating new items for the
    website.</li>
    <li> Manage the orders, decide how and when the delivery was
    to be made as the company had limited employees.</li>
    <li> Deal with other partner companies and get the best deal
    possible.</li>
    </ul>
